body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    background-color: #000;
    position: relative;
    overflow: hidden;
}

HTML, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td {
    border:none;
    font-family:"微软雅黑","黑体","宋体";
    font-size:14px;
    margin:0px;
    padding:0px;
}
